<li>
	{{name}}

	<button class="eat" data-id="{{id}}" data-neweat="{{eaten}}">
		{{#if eaten}} Devour!{{else}} YUM!Re-Order!{{/if}}
	</button>
	<button class="delete" data-id="{{id}}">Delete!</button>
</li>